<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/icons/icon.png" alt="卡片高手 Logo" height="40">
        卡片高手
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="切換導航">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guides.html">操作指南</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="downloads.html">下載資源</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faq.html">常見問題</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success text-white ms-lg-3" href="#">
              <i class="fab fa-google-play me-1"></i>下載應用
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>