<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">影片標題</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
      </div>
      <div class="modal-body p-0">
        <div class="ratio ratio-16x9">
          <video id="videoPlayer" controls>
            <source src="" type="video/mp4">
            您的瀏覽器不支援HTML5影片。
          </video>
        </div>
      </div>
    </div>
  </div>
</div>